<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - LibraryManagementSystem</title>
</head>
<body>
    <header>
        <h1>Library Management</h1>
        <nav>
            <a href="/Home/Index">Home</a> |
            <a href="/Book">Books</a> |
            <a href="/Reader">Readers</a> |
            <a href="/Borrowing">Borrowings</a> |
            <a href="/Account/Login">Login</a> |
            <a href="/Account/Register">Register</a>
        </nav>
        <hr />
    </header>

    <section>
        @RenderBody()
    </section>

</body>
</html>
