@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Library Management System!</h2>

<ul>
    <li><a href="/Book">Go to Books</a></li>
    <li><a href="/Reader">Go to Readers</a></li>
    <li><a href="/Borrowing">Go to Borrowings</a></li>
    <li><a href="/Account/Login">Login</a> | <a href="/Account/Register">Register</a></li>
</ul>
